* {
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(237, 255, 248); */
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(237, 255, 248);
}

.page-container {
    min-height: 100vh;
    width: 100vw;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5% 0;
}

.heading-left h1 {
    font-size: 23px;
    font-weight: 1000;
}

.heading-right {
    display: flex;
}

.get-in-touch-container img {
    margin-top: 5px;
    margin-right: 35px;
}

.heading-right button {
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: rgb(223, 151, 35);
    border: 0;
}

.body-container{
    padding: 0 5%;
}

.body-container div > hr {
    width: 9vw;
    text-align: left;
    margin-left: 0;
}

.body-container p {
    font-size: 14px;
}

.contact-us {
    display: flex;
    align-items: center;
}

.contact-us p {
    padding-right: 17px;
}

.contact-us img {
    margin-top: 6px;
    height: 15px;
    width: 30px;
}

.form-box {
    border: 0;
    height: 65vh;
    width: 28vw;
    border-radius: 45px;
    margin: 2% auto;
    padding: 15px;
    background-color: rgb(165, 188, 178);
    /* border: 1px solid black; */
}

.form-container {
    text-align: center;
    position: relative;
    margin-top: 7%;
}

.form-container p {
    margin-bottom: 10%;
}

.first-form {
    display: flex;
    justify-content: space-between;
    width: 76%;
    margin-left: 11.5%;
}

.second-form {
    width: 80%;
    margin-left: 10%;
}

.input-container {
    position: relative;
    padding-bottom: 22px;
}

.label-container {
    position: absolute;
    left: 25px;
    bottom:57px;
    text-align: center;
    background-color: rgb(165, 188, 178);
    border-radius: 5px;
    padding: 0 3px;
}

.label-container label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(118, 39, 109);
}

.input-container input {
    width: 90%;
    height: auto;
    padding: 12px 10px;
    border: 2px solid black;
    border-radius: 4px;
    /* background-color: rgb(153, 175, 165); */
    background-color: transparent;
}

.first-form input {
    width: 88%;
}

.first-form .label-container {
    left: 19px;
}