:root{
    --primary-purple:rgb(118, 39, 109);
    --primary-yellow: rgb(223, 151, 35); 
}

* {
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(237, 255, 248); */
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(237, 255, 248);
}

.page-container {
    min-height: 100vh;
    width: 100vw;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5% 0;
}

.heading-left h1 {
    font-size: 23px;
    font-weight: 1000;
}

.heading-right {
    display: flex;
}

.get-in-touch-container img {
    margin-top: 5px;
    margin-right: 35px;
}

.heading-right button {
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: rgb(223, 151, 35);
    border: 0;
}

.body-container{
    padding: 0 5%;
}

.body-container div > hr {
    width: 9vw;
    text-align: left;
    margin-left: 0;
}

.body-container p {
    font-size: 14px;
}

.contact-us {
    display: flex;
    align-items: center;
}

.contact-us p {
    padding-right: 17px;
}

.contact-us img {
    margin-top: 6px;
    height: 15px;
    width: 30px;
}

.form-box {
    border: 0;
    height: 65vh;
    width: 28vw;
    border-radius: 45px;
    margin: 2% auto;
    padding: 15px;
    background-color: rgb(165, 188, 178);
    /* border: 1px solid black; */
}

.form-container {
    text-align: center;
    position: relative;
    margin-top: 7%;
}

.top-div {
    margin-top: 15%;
    margin-left: 11.5%; 
}

.top-div .name-container{
    display: flex;
    justify-content: space-between;
    width: 86%;
}

.bottom-div {
    width: 80%;
    margin-left: 10%;
}

.bottom-div button {
    width: 97%;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

.input-container {
    position: relative;
    padding-bottom: 22px;
}

.label-container {
    position: absolute;
    left: 25px;
    bottom:57px;
    text-align: center;
    background-color: rgb(165, 188, 178);
    border-radius: 5px;
    padding: 0 3px;
}

.label-container label {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-purple);
}

#message {
    position: relative;
    bottom: 35px;
    padding: 0 3px;
    background-color: rgb(165, 188, 178);
}

.input-container input {
    width: 90%;
    height: auto;
    padding: 12px 10px ;
    border: 2px solid black;
    border-radius: 4px;
    /* background-color: rgb(153, 175, 165); */
    background-color: transparent;
}

.input-container #Message {
    width: 90%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: transparent;
    padding: 12px 10px;
    resize: none;
}

.input-container img {
    position: absolute;
    bottom: 44%;
    right: 4%;
    max-width: 50px;
    height: 32px;
    display: none;
}

.top-div input {
    width: 88%;
}

.top-div .label-container {
    left: 19px;
}

.telecom-carrier {
    display: flex;
    position: absolute;
    top: 18%;
    left: 10%;
    margin-left: 1.5%;
    align-items: center;
}

.telecom-carrier p {
    font-weight: bold;
    font-size: 15px;
}

.telecom-carrier select{
    background-color: transparent;
    border: 0px solid black;
    border-radius: 4px;
    color: var(--primary-purple);
    font-size: bold;
}


