* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.page-container {
    min-height: 100vh;
    width: 100vw;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5% 0;
}

.heading-left h1 {
    font-size: 23px;
    font-weight: 1000;
}

.heading-right {
    display: flex;
}

.get-in-touch-container img {
    margin-top: 5px;
    margin-right: 35px;
}

.heading-right button {
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: rgb(223, 151, 35);
    border: 0;
}

.body-container{
    padding: 0 5%;
}

.body-container div > hr {
    width: 9vw;
    text-align: left;
    margin-left: 0;
}

.body-container p {
    font-size: 14px;
}

.contact-us {
    display: flex;
    align-items: center;
}

.contact-us p {
    padding-right: 17px;
}

.contact-us img {
    margin-top: 6px;
    height: 15px;
    width: 30px;
}


